meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Maquinaria, equipos y elementos de confección
meta(meta name="description" content="Reconocer las partes y funciones de las máquinas básicas y especializadas, para establecer sus diferencias y similitudes. Identificar la utilidad de cada máquina en los procesos de la línea de producción. La aguja es un elemento elemental para el funcionamiento de la máquina; identificar los tipos de aguja, para seleccionar la aguja adecuada para la producción a elaborar. Especificar la aplicación de los pies, guías, aditamentos según la línea de producto. Reconocer los sistemas de medición y su aplicación para el control de la calidad.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")